* {
  margin: 0;
}

body {
    background-color: #D2D2D2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    color: White;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    margin: 20px;
    min-height: 90vh;
}

form {
  margin: auto;
  max-width: 900px;
  padding: 30px;
  background-color: #4A4857;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

select, input[type="number"], input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
}

select:focus, input[type="number"]:focus, input[type="text"]:focus {
  border-color: black;
}

button[type="submit"] {
  background-color: #333333;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.form-group {
  margin-bottom: 20px;
}

.form-group h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}